STM32_F407G_MISKA_pospesevalniki/CubeMonitor_flows.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "d07ba2e98ad67ea4",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "d07ba2e98ad67ea4",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "e4f461ef95c3ef50",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "AccelX",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1712075884614,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "d07ba2e98ad67ea4",
        "type": "probe",
        "probeid": "066BFF303430484257136042",
        "probename": "ST-Link v2-1B 066BFF303430484257136042",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J43",
        "connectionType": "p2p",
        "nickname": ""
    },
    {
        "id": "e4f461ef95c3ef50",
        "type": "exe-config",
        "name": "MyVariables",
        "exefile": "D:\\Delovni\\CubeIDE\\Sluzba\\STM32F4_Docs_and_Examples\\STM32_F407G_MISKA_pospesevalniki\\Debug\\STM32_F407G_MISKA_pospesevalniki.elf",
        "exefolder": "D:\\Delovni\\CubeIDE\\Sluzba\\STM32F4_Docs_and_Examples\\STM32_F407G_MISKA_pospesevalniki\\Debug",
        "exevariablelist": [
            {
                "address": "0x200001e7",
                "name": "AccelX",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x200001e8",
                "name": "AccelY",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x200001e9",
                "name": "AccelZ",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x080085f0",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08008600",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x200001f4",
                "name": "button_flag",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x200000e8",
                "name": "FS_Desc.GetConfigurationStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "FS_Desc.GetDeviceDescriptor",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "FS_Desc.GetInterfaceStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "FS_Desc.GetLangIDStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "FS_Desc.GetManufacturerStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "FS_Desc.GetProductStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "FS_Desc.GetSerialStrDescriptor",
                "type": 5
            },
            {
                "address": "0x20000184",
                "name": "hi2c1.Devaddress",
                "type": 5
            },
            {
                "address": "0x20000180",
                "name": "hi2c1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000190",
                "name": "hi2c1.EventCount",
                "type": 5
            },
            {
                "address": "0x20000178",
                "name": "hi2c1.hdmarx",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "hi2c1.hdmatx",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "hi2c1.Init.AddressingMode",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "hi2c1.Init.ClockSpeed",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "hi2c1.Init.DualAddressMode",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "hi2c1.Init.DutyCycle",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "hi2c1.Init.GeneralCallMode",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "hi2c1.Init.NoStretchMode",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "hi2c1.Init.OwnAddress1",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "hi2c1.Init.OwnAddress2",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "hi2c1.Instance",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "hi2c1.Lock",
                "type": 2
            },
            {
                "address": "0x20000188",
                "name": "hi2c1.Memaddress",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "hi2c1.MemaddSize",
                "type": 5
            },
            {
                "address": "0x2000017e",
                "name": "hi2c1.Mode",
                "type": 2
            },
            {
                "address": "0x20000164",
                "name": "hi2c1.pBuffPtr",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "hi2c1.PreviousState",
                "type": 5
            },
            {
                "address": "0x2000017d",
                "name": "hi2c1.State",
                "type": 2
            },
            {
                "address": "0x2000016a",
                "name": "hi2c1.XferCount",
                "type": 3
            },
            {
                "address": "0x2000016c",
                "name": "hi2c1.XferOptions",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "hi2c1.XferSize",
                "type": 3
            },
            {
                "address": "0x200001d8",
                "name": "hi2s3.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "hi2s3.hdmarx",
                "type": 5
            },
            {
                "address": "0x200001cc",
                "name": "hi2s3.hdmatx",
                "type": 5
            },
            {
                "address": "0x200001a8",
                "name": "hi2s3.Init.AudioFreq",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "hi2s3.Init.ClockSource",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "hi2s3.Init.CPOL",
                "type": 5
            },
            {
                "address": "0x200001a0",
                "name": "hi2s3.Init.DataFormat",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "hi2s3.Init.FullDuplexMode",
                "type": 5
            },
            {
                "address": "0x200001a4",
                "name": "hi2s3.Init.MCLKOutput",
                "type": 5
            },
            {
                "address": "0x20000198",
                "name": "hi2s3.Init.Mode",
                "type": 5
            },
            {
                "address": "0x2000019c",
                "name": "hi2s3.Init.Standard",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "hi2s3.Instance",
                "type": 5
            },
            {
                "address": "0x200001c8",
                "name": "hi2s3.IrqHandlerISR",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "hi2s3.Lock",
                "type": 2
            },
            {
                "address": "0x200001c0",
                "name": "hi2s3.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "hi2s3.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001c6",
                "name": "hi2s3.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200001c4",
                "name": "hi2s3.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200001d5",
                "name": "hi2s3.State",
                "type": 2
            },
            {
                "address": "0x200001be",
                "name": "hi2s3.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200001bc",
                "name": "hi2s3.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000088",
                "name": "HID_MOUSE_ReportDesc[0]",
                "type": 1
            },
            {
                "address": "0x200000d2",
                "name": "HIDInEpAdd",
                "type": 1
            },
            {
                "address": "0x20000c38",
                "name": "hpcd_USB_OTG_FS.battery_charging_active",
                "type": 5
            },
            {
                "address": "0x20000c2c",
                "name": "hpcd_USB_OTG_FS.BESL",
                "type": 5
            },
            {
                "address": "0x20000bf4",
                "name": "hpcd_USB_OTG_FS.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000c30",
                "name": "hpcd_USB_OTG_FS.FrameNumber",
                "type": 5
            },
            {
                "address": "0x20000775",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].data_pid_start",
                "type": 1
            },
            {
                "address": "0x20000784",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].dma_addr",
                "type": 5
            },
            {
                "address": "0x20000776",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].even_odd_frame",
                "type": 1
            },
            {
                "address": "0x20000771",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_in",
                "type": 1
            },
            {
                "address": "0x20000773",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_iso_incomplete",
                "type": 1
            },
            {
                "address": "0x20000772",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_stall",
                "type": 1
            },
            {
                "address": "0x2000077c",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20000770",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].num",
                "type": 1
            },
            {
                "address": "0x20000778",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].tx_fifo_num",
                "type": 3
            },
            {
                "address": "0x20000774",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].type",
                "type": 1
            },
            {
                "address": "0x20000780",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_buff",
                "type": 5
            },
            {
                "address": "0x20000790",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_count",
                "type": 5
            },
            {
                "address": "0x20000788",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_len",
                "type": 5
            },
            {
                "address": "0x2000078c",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_size",
                "type": 5
            },
            {
                "address": "0x2000075c",
                "name": "hpcd_USB_OTG_FS.Init.battery_charging_enable",
                "type": 5
            },
            {
                "address": "0x20000738",
                "name": "hpcd_USB_OTG_FS.Init.dev_endpoints",
                "type": 5
            },
            {
                "address": "0x20000744",
                "name": "hpcd_USB_OTG_FS.Init.dma_enable",
                "type": 5
            },
            {
                "address": "0x20000748",
                "name": "hpcd_USB_OTG_FS.Init.ep0_mps",
                "type": 5
            },
            {
                "address": "0x2000073c",
                "name": "hpcd_USB_OTG_FS.Init.Host_channels",
                "type": 5
            },
            {
                "address": "0x20000754",
                "name": "hpcd_USB_OTG_FS.Init.low_power_enable",
                "type": 5
            },
            {
                "address": "0x20000758",
                "name": "hpcd_USB_OTG_FS.Init.lpm_enable",
                "type": 5
            },
            {
                "address": "0x2000074c",
                "name": "hpcd_USB_OTG_FS.Init.phy_itface",
                "type": 5
            },
            {
                "address": "0x20000750",
                "name": "hpcd_USB_OTG_FS.Init.Sof_enable",
                "type": 5
            },
            {
                "address": "0x20000740",
                "name": "hpcd_USB_OTG_FS.Init.speed",
                "type": 5
            },
            {
                "address": "0x20000764",
                "name": "hpcd_USB_OTG_FS.Init.use_dedicated_ep1",
                "type": 5
            },
            {
                "address": "0x20000768",
                "name": "hpcd_USB_OTG_FS.Init.use_external_vbus",
                "type": 5
            },
            {
                "address": "0x20000760",
                "name": "hpcd_USB_OTG_FS.Init.vbus_sensing_enable",
                "type": 5
            },
            {
                "address": "0x20000734",
                "name": "hpcd_USB_OTG_FS.Instance",
                "type": 5
            },
            {
                "address": "0x20000bf0",
                "name": "hpcd_USB_OTG_FS.Lock",
                "type": 2
            },
            {
                "address": "0x20000c34",
                "name": "hpcd_USB_OTG_FS.lpm_active",
                "type": 5
            },
            {
                "address": "0x20000c28",
                "name": "hpcd_USB_OTG_FS.LPM_State",
                "type": 2
            },
            {
                "address": "0x200009b5",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].data_pid_start",
                "type": 1
            },
            {
                "address": "0x200009c4",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].dma_addr",
                "type": 5
            },
            {
                "address": "0x200009b6",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].even_odd_frame",
                "type": 1
            },
            {
                "address": "0x200009b1",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_in",
                "type": 1
            },
            {
                "address": "0x200009b3",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_iso_incomplete",
                "type": 1
            },
            {
                "address": "0x200009b2",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_stall",
                "type": 1
            },
            {
                "address": "0x200009bc",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x200009b0",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].num",
                "type": 1
            },
            {
                "address": "0x200009b8",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].tx_fifo_num",
                "type": 3
            },
            {
                "address": "0x200009b4",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].type",
                "type": 1
            },
            {
                "address": "0x200009c0",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_buff",
                "type": 5
            },
            {
                "address": "0x200009d0",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_count",
                "type": 5
            },
            {
                "address": "0x200009c8",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_len",
                "type": 5
            },
            {
                "address": "0x200009cc",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_size",
                "type": 5
            },
            {
                "address": "0x20000c3c",
                "name": "hpcd_USB_OTG_FS.pData",
                "type": 5
            },
            {
                "address": "0x20000bf8",
                "name": "hpcd_USB_OTG_FS.Setup[0]",
                "type": 5
            },
            {
                "address": "0x20000bf1",
                "name": "hpcd_USB_OTG_FS.State",
                "type": 2
            },
            {
                "address": "0x2000076c",
                "name": "hpcd_USB_OTG_FS.USB_Address",
                "type": 1
            },
            {
                "address": "0x2000024c",
                "name": "hspi1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000244",
                "name": "hspi1.hdmarx",
                "type": 5
            },
            {
                "address": "0x20000240",
                "name": "hspi1.hdmatx",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hspi1.Init.BaudRatePrescaler",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hspi1.Init.CLKPhase",
                "type": 5
            },
            {
                "address": "0x20000208",
                "name": "hspi1.Init.CLKPolarity",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hspi1.Init.CRCCalculation",
                "type": 5
            },
            {
                "address": "0x20000224",
                "name": "hspi1.Init.CRCPolynomial",
                "type": 5
            },
            {
                "address": "0x20000204",
                "name": "hspi1.Init.DataSize",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hspi1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000218",
                "name": "hspi1.Init.FirstBit",
                "type": 5
            },
            {
                "address": "0x200001fc",
                "name": "hspi1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hspi1.Init.NSS",
                "type": 5
            },
            {
                "address": "0x2000021c",
                "name": "hspi1.Init.TIMode",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hspi1.Instance",
                "type": 5
            },
            {
                "address": "0x20000248",
                "name": "hspi1.Lock",
                "type": 2
            },
            {
                "address": "0x20000230",
                "name": "hspi1.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x20000228",
                "name": "hspi1.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x20000238",
                "name": "hspi1.RxISR",
                "type": 5
            },
            {
                "address": "0x20000236",
                "name": "hspi1.RxXferCount",
                "type": 3
            },
            {
                "address": "0x20000234",
                "name": "hspi1.RxXferSize",
                "type": 3
            },
            {
                "address": "0x20000249",
                "name": "hspi1.State",
                "type": 2
            },
            {
                "address": "0x2000023c",
                "name": "hspi1.TxISR",
                "type": 5
            },
            {
                "address": "0x2000022e",
                "name": "hspi1.TxXferCount",
                "type": 3
            },
            {
                "address": "0x2000022c",
                "name": "hspi1.TxXferSize",
                "type": 3
            },
            {
                "address": "0x2000052c",
                "name": "hUsbDeviceFS.classId",
                "type": 5
            },
            {
                "address": "0x20000500",
                "name": "hUsbDeviceFS.ConfIdx",
                "type": 1
            },
            {
                "address": "0x200004f6",
                "name": "hUsbDeviceFS.dev_address",
                "type": 1
            },
            {
                "address": "0x2000025c",
                "name": "hUsbDeviceFS.dev_config",
                "type": 5
            },
            {
                "address": "0x20000264",
                "name": "hUsbDeviceFS.dev_config_status",
                "type": 5
            },
            {
                "address": "0x200004f7",
                "name": "hUsbDeviceFS.dev_connection_status",
                "type": 1
            },
            {
                "address": "0x20000260",
                "name": "hUsbDeviceFS.dev_default_config",
                "type": 5
            },
            {
                "address": "0x200004f5",
                "name": "hUsbDeviceFS.dev_old_state",
                "type": 1
            },
            {
                "address": "0x200004fc",
                "name": "hUsbDeviceFS.dev_remote_wakeup",
                "type": 5
            },
            {
                "address": "0x20000268",
                "name": "hUsbDeviceFS.dev_speed",
                "type": 2
            },
            {
                "address": "0x200004f4",
                "name": "hUsbDeviceFS.dev_state",
                "type": 1
            },
            {
                "address": "0x200004f8",
                "name": "hUsbDeviceFS.dev_test_mode",
                "type": 1
            },
            {
                "address": "0x200004f0",
                "name": "hUsbDeviceFS.ep0_data_len",
                "type": 5
            },
            {
                "address": "0x200004ec",
                "name": "hUsbDeviceFS.ep0_state",
                "type": 5
            },
            {
                "address": "0x2000027e",
                "name": "hUsbDeviceFS.ep_in[0].bInterval",
                "type": 3
            },
            {
                "address": "0x2000027c",
                "name": "hUsbDeviceFS.ep_in[0].is_used",
                "type": 3
            },
            {
                "address": "0x20000278",
                "name": "hUsbDeviceFS.ep_in[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20000274",
                "name": "hUsbDeviceFS.ep_in[0].rem_length",
                "type": 5
            },
            {
                "address": "0x2000026c",
                "name": "hUsbDeviceFS.ep_in[0].status",
                "type": 5
            },
            {
                "address": "0x20000270",
                "name": "hUsbDeviceFS.ep_in[0].total_length",
                "type": 5
            },
            {
                "address": "0x200003be",
                "name": "hUsbDeviceFS.ep_out[0].bInterval",
                "type": 3
            },
            {
                "address": "0x200003bc",
                "name": "hUsbDeviceFS.ep_out[0].is_used",
                "type": 3
            },
            {
                "address": "0x200003b8",
                "name": "hUsbDeviceFS.ep_out[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x200003b4",
                "name": "hUsbDeviceFS.ep_out[0].rem_length",
                "type": 5
            },
            {
                "address": "0x200003ac",
                "name": "hUsbDeviceFS.ep_out[0].status",
                "type": 5
            },
            {
                "address": "0x200003b0",
                "name": "hUsbDeviceFS.ep_out[0].total_length",
                "type": 5
            },
            {
                "address": "0x20000258",
                "name": "hUsbDeviceFS.id",
                "type": 1
            },
            {
                "address": "0x20000530",
                "name": "hUsbDeviceFS.NumClasses",
                "type": 5
            },
            {
                "address": "0x20000524",
                "name": "hUsbDeviceFS.pBosDesc",
                "type": 5
            },
            {
                "address": "0x20000510",
                "name": "hUsbDeviceFS.pClass[0]",
                "type": 5
            },
            {
                "address": "0x20000514",
                "name": "hUsbDeviceFS.pClassData",
                "type": 5
            },
            {
                "address": "0x20000518",
                "name": "hUsbDeviceFS.pClassDataCmsit[0]",
                "type": 5
            },
            {
                "address": "0x20000528",
                "name": "hUsbDeviceFS.pConfDesc",
                "type": 5
            },
            {
                "address": "0x20000520",
                "name": "hUsbDeviceFS.pData",
                "type": 5
            },
            {
                "address": "0x2000050c",
                "name": "hUsbDeviceFS.pDesc",
                "type": 5
            },
            {
                "address": "0x2000051c",
                "name": "hUsbDeviceFS.pUserData[0]",
                "type": 5
            },
            {
                "address": "0x20000502",
                "name": "hUsbDeviceFS.request.bmRequest",
                "type": 1
            },
            {
                "address": "0x20000503",
                "name": "hUsbDeviceFS.request.bRequest",
                "type": 1
            },
            {
                "address": "0x20000506",
                "name": "hUsbDeviceFS.request.wIndex",
                "type": 3
            },
            {
                "address": "0x20000508",
                "name": "hUsbDeviceFS.request.wLength",
                "type": 3
            },
            {
                "address": "0x20000504",
                "name": "hUsbDeviceFS.request.wValue",
                "type": 3
            },
            {
                "address": "0x200001e0",
                "name": "indata[0]",
                "type": 1
            },
            {
                "address": "0x200001dc",
                "name": "KeyState",
                "type": 6
            },
            {
                "address": "0x200001e6",
                "name": "lis_id",
                "type": 1
            },
            {
                "address": "0x20000002",
                "name": "max_xval",
                "type": 4
            },
            {
                "address": "0x20000006",
                "name": "max_yval",
                "type": 4
            },
            {
                "address": "0x20000000",
                "name": "min_xval",
                "type": 4
            },
            {
                "address": "0x20000004",
                "name": "min_yval",
                "type": 4
            },
            {
                "address": "0x200001ec",
                "name": "mousehid.button",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x200001ed",
                "name": "mousehid.mouse_x",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x200001ee",
                "name": "mousehid.mouse_y",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x200001ef",
                "name": "mousehid.wheel",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x200001f0",
                "name": "newxval",
                "type": 4
            },
            {
                "address": "0x200001f2",
                "name": "newyval",
                "type": 4
            },
            {
                "address": "0x200001e4",
                "name": "outdata[0]",
                "type": 1
            },
            {
                "address": "0x20000008",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "USBD_FS_DeviceDesc[0]",
                "type": 1
            },
            {
                "address": "0x20000028",
                "name": "USBD_HID.DataIn",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "USBD_HID.DataOut",
                "type": 5
            },
            {
                "address": "0x20000018",
                "name": "USBD_HID.DeInit",
                "type": 5
            },
            {
                "address": "0x20000024",
                "name": "USBD_HID.EP0_RxReady",
                "type": 5
            },
            {
                "address": "0x20000020",
                "name": "USBD_HID.EP0_TxSent",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "USBD_HID.GetDeviceQualifierDescriptor",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "USBD_HID.GetFSConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "USBD_HID.GetHSConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "USBD_HID.GetOtherSpeedConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x20000014",
                "name": "USBD_HID.Init",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "USBD_HID.IsoINIncomplete",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "USBD_HID.IsoOUTIncomplete",
                "type": 5
            },
            {
                "address": "0x2000001c",
                "name": "USBD_HID.Setup",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "USBD_HID.SOF",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "USBD_HID_CfgDesc[0]",
                "type": 1
            },
            {
                "address": "0x20000070",
                "name": "USBD_HID_Desc[0]",
                "type": 1
            },
            {
                "address": "0x2000007c",
                "name": "USBD_HID_DeviceQualifierDesc[0]",
                "type": 1
            },
            {
                "address": "0x20000104",
                "name": "USBD_LangIDDesc[0]",
                "type": 1
            },
            {
                "address": "0x20000534",
                "name": "USBD_StrDesc[0]",
                "type": 1
            },
            {
                "address": "0x20000108",
                "name": "USBD_StringSerial[0]",
                "type": 1
            },
            {
                "address": "0x20000250",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000010",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x2000000c",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "STM32_F407G_MISKA_pospesevalniki.elf",
        "exeModifiedTime": 1712075803806,
        "configLastUpdate": 1712075884270
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]